body {
    background: #fff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}


.header { 
    background-color: #8b0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    width: 100px;
}

.header-links a {
    color: #ffffff;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 15px;
}

.header-links a:hover {
    color: black;
}

.header-links button {
    background-color: black;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    border: none;
}

.header-links button:hover {
    background-color: rgb(114, 6, 6);
}

.my-footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid red;
    width: 80%;
    margin: 50px auto 20px;
    border-radius: 10px;
}

.my-footer a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-size: 18px;
}

.my-footer a:hover {
    text-decoration: underline;
}

.my-footer p {
    margin-top: 10px;
}

.checkout-wrapper {
    width: 92%;
    max-width: 650px;
    margin: auto;
    padding-bottom: 50px;
}

.section-box {
    background: #fff;
    padding: 22px 0;
    border-bottom: 1px solid #eee;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.label-title {
    font-size: 14px;
    color: #444;
    margin-bottom: 5px;
    display: block;
}

.input {
    width: 100%;
    padding: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 15px;
}

.checkbox, .radio {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.two-col {
    display: flex;
    gap: 10px;
}


.option-box {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.option-box.selected {
    border-color: #295fe6;
    background: #f5f8ff;
}

.price {
    font-weight: bold;
}

.old-price {
    font-size: 13px;
    color: #777;
    text-decoration: line-through;
}

.green {
    color: #2ecc71;
}

.sub-text {
    font-size: 13px;
    color: #777;
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

.item-img {
    width: 54px;
    height: 54px;
    border-radius: 8px;
    object-fit: cover;
    background: #eee;
}

.item-info span {
    font-size: 14px;
    color: #777;
}

.line {
    height: 1px;
    background: #eee;
    margin: 14px 0;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.summary-row.total {
    font-size: 20px;
    margin-top: 10px;
}

.tag span {
    font-size: 14px;
    color: #333;
}

.complete-btn {
    display: block;
    width: 250px;          
    padding: 10px 0;       
    background: #0d6efd;
    color: #fff;
    text-align: center;
    font-size: 16px;       
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    margin: 15px auto;
    transition: 0.3s;
}

.complete-btn:hover {
    background: #0a54d4;
}


.order-summary-bar {
    background: #fff;
    padding: 15px 0;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}
/* FOOTER */
footer {
    background-color: #8b0000;
    color: white;
    text-align: center;
    padding: 15px;
}