.header-links a {
    color: #ffffff;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 15px;
}
.header-links a:hover {
    color: black;
}
.header-links button {
    background-color: black;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    border: none;
}
.header-links button:hover {
    background-color: rgb(114, 6, 6);
}
/* HERO */
.hero {
    height: 80vh;
    background: url("img/55.PNG") center/cover;
    color: #8b000;(343,334,334)
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero button {
    padding: 10px 25px;
    border: none;
    background-color: white;
    color: #8b0000;
    cursor: pointer;
    margin-top: 15px;
}

/* SECTIONS */
section {
    padding: 60px 40px;
    text-align: center;
}

.gallery .images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    width: 200px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background-color: #8b0000;
    color: white;
    text-align: center;
    padding: 15px;
}
.logo {
    width: 120px;   
}
.header {
    display: flex;
    align-items: center;          
    justify-content: space-between;
    background-color: #8b0000;
    padding: 15px 40px;
    
}

.nav-links {
    display: flex;                
    gap: 25px;                    
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.btn{
    padding: 12px 30 px;
    background: #fff;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn:hover{
    background: #000;
    color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #111;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: darkred;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
  padding: 40px;
}

