/* HEADER */
.header { 
    background-color:#8b0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    width: 100px;
}

.header-links a {
    color: #ffffff;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 15px;
}

.header-links a:hover {
    color: black;
}

.header-links button {
    background-color: black;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    border: none;
}

.header-links button:hover {
    background-color: rgb(114, 6, 6);
}
/* FOOTER */
.my-footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
    border: 3px solid red;
    width: 80%;
    margin: 50px auto 20px;
    border-radius: 10px;
}

.my-footer a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-size: 18px;
}

.my-footer a:hover {
    text-decoration: underline;
}

.my-footer p {
    margin-top: 10px;
}
   .thank-you {
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/* FOOTER */
footer {
    background-color: #8b0000;
    color: white;
    text-align: center;
    padding: 15px;
}